
.fc-toolbar-chunk > div {
    display: flex;
    gap: 10px;
  }
.fc-toolbar-title {
    width: 220px;
    text-align: center;
}
.fc-h-event {
  border: 0 !important;
}
.fc-daygrid-event {
  white-space: normal !important;
  align-items: normal !important;
  border: 0 !important;
  background-color: transparent !important;
}
